body {
    font-family: Arial, sans-serif;
    background:radial-gradient(#001c15 40%,#0b4336 100%);
}

.container {
    max-width: 600px;
    margin: 70px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:#001c15;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display:contents;
    font-weight: 600;
    margin-bottom: 5px;
}

input[type="radio"]{
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;  
}
input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%; 
    margin-right: 5px;
    vertical-align: middle;
}

input[type="radio"]:checked + label:before {
    background-color: #327c6a; 
    border-color: #032d23; 
}
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 50px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background:linear-gradient(#001c15 40%,#0b4336 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background:linear-gradient(#001c15 40%,#0b4336 100%);
}

#roadmap {
    margin-top: 30px;
}
.task {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.task h3 {
    margin: 0;
}
.chatgpt{
    color: #fff;
}
.chatgpt a{
    background:linear-gradient(#004635 40%,#032d23 100%);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
}
.chatgpt a:hover{
    background:linear-gradient(#0e4134 40%,#097157 100%);
}
.task p {
    margin: 5px 0;
    color: #666;
}

